
        <div class="im-cc-wrapper-title" >

            {{! ***** //Title ***** }}

            {{#if card.txtBlock.name.show}}
            <div class="im-cc-products-name" >
                {{#if product.linkHtmlTitle}}{{{product.linkHtmlTitle}}}{{else}}{{product.productName}}{{/if}}
            </div>
            {{/if}}
            
            {{! ***** //Category ***** }}

            {{#if card.txtBlock.details.showCategory}}
            <div class="im-cc-products-category" >{{product.categoryName}}</div>
            {{/if}}

        </div>